extend layout
block content
  
  h1 API Project: Timestamp Microservice
  p Pass a string as a parameter either a unix timestamp or a natural language date.
  p If it valid it returns both the unix timestamp and the natural language form of that date, otherwise both null.
  hr
  .row
    +method('GET /:timestamp (integer)', '958590000', '{ "unix": 958590000, "natural": "May 17, 2000" }')
    +method('GET /:date (string)', 'April%203,%202016', '{ "unix": 1459641600, "natural": "April 3, 2016" }')
  hr
  p
    a(href='https://github.com/hisener/timestamp-api' target='_blank') Github repository

mixin method(title, example, response)
  div.col-sm-6.col-xs-12
    pre #{title}
    p
      b Example usage
    p
      a(href='#{url}#{example}' target='_blank') #{url}#{example}
    p
      b Response example
    code #{response}
